

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILIZAÇÃO DO HEADER */ 

.anuncioDesconto {
    display: flex;
    background-color: #005CFF;
    color: white;
    height: 30px;
    text-align: center;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
    align-items: center;
}

.anuncioDesconto .span1{
    background-color: #6220c1;
    border-radius: 4px;
}

.anuncioDesconto .span2{
    font-weight: 200;
}


.topoHeader{
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.inputInicial{
    width: 594px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-image: url('img/iconLupa.png'); 
    background-repeat: no-repeat; 
    background-position: calc(100% - 4px) center; 
    background-size: 16px 16px;
    margin: 0 280px 0 70px;
}

.topoHeader .HelloLink {
    margin: 0 30px 0 7px;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: small;
}

.sectionLinks ul{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
}

.sectionLinks ul li a{
    text-decoration: none;
    color: black;
    font-size: 14.7px;
}


/*ESTILIZANDO TOPO SITE */

.topoSite{
    display: flex;
    background-color: #e7e7ea;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;

}

.topoSite .titulo h1{
    font-size: 100px;   
    font-weight:600


}
.topoSite .titulo h1 span{
    font-weight: 300;
}
