* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

/* ESTILIZAÇÃO DO HEADER */


.ImgCarrinhoContainer {
    position: relative;

  }

  .bolinhaAzul {
    position: absolute;
    top: -5px;   
    right: -5px; 
    width: 17px;
    height: 17px;
    background-color: #005CFF;
    border-radius: 50%;
    z-index: 2;  
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.hamburguerContainer {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000
}

.anuncioDesconto {
    display: flex;
    background-color: #005CFF;
    color: white;
    height: 30px;
    text-align: center;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
    align-items: center;
}

.anuncioDesconto .span1 {
    background-color: #6220c1;
    border-radius: 4px;
}

.anuncioDesconto .span2 {
    font-weight: 200;
}


.topoHeader {
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;


}


.inputInicial {
    width: 594px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-image: url('img/iconLupa.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) center;
    background-size: 16px 16px;
    margin: 0 280px 0 70px;
}

.topoHeader .HelloLink {
    margin: 0 30px 0 7px;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: small;
}

.HelloLink:hover {
    color: #005CFF;
    transition: color 0.2s, fill 0.2s;
}


.sectionLinks ul {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
}

.sectionLinks ul li a {
    text-decoration: none;
    color: black;
    font-size: 14.7px;
}


.sectionLinks ul li p:hover {
    color: #005CFF;
    transition: color 0.2s, fill 0.2s;
}


.sectionLinks ul li img {
    margin-right: 10px;
}

.headerPadrão {
    background-color: white;
}



.dep-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

.dep-link.ativo {
    color: #005CFF;
}

/*ESTILIZAÇÃO DO HEADER INVISIVEL*/

.menuTodasCat {
    display: none;
    max-height: 329px;
    max-width: 1261px;
    margin: 0 auto 20px auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#iBurguer {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 2px;
}

#iBurguer.ativo {
    color: #005CFF;
}

#iBurguer.ativo p {
    color: inherit;
}

#iBurguer:hover svg,
#iBurguer:hover p {
    color: #005CFF;
    fill: #005CFF;
    transition: color 0.2s, fill 0.2s;
}

.ContainerCategoria {
    display: flex;
    gap: 125px;
    margin-left: 34px;
    margin-right: 285px;



}

.ContainerCategoria .listCategoria {
    display: flex;
    flex-direction: column;

}

.listDepartamentos {
    max-height: 325px;
    overflow-y: auto;
    width: 234px;
    background-color: #F5F5F5;

}

.listDepartamentos a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 21px;
    text-decoration: none;
    color: #303030;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    filter: invert(21%) sepia(2%) saturate(13%) hue-rotate(347deg) brightness(95%) contrast(94%);
}

.listDepartamentos a:hover {
    filter: none;
    color: #005CFF;
    transition: color 0.2s, fill 0.2s;
}


.listDepartamentos ul {
    margin-top: 20px;
}

.listCategoria {
    margin-top: 20px;

}

.listCategoria a {
    text-decoration: none;
    color: #303030;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    margin-bottom: 13px;
}

.imgMenu {
    display: flex;
    justify-content: center;
    max-height: 298px;
}

.totalDep {
    display: flex;
    justify-content: center;
    gap: 237px;
    height: 329px;
    width: 1261px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.totalDep h5 {
    margin-left: 34px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

#DepartamentoMenu {
    display: none;
    justify-content: center;
    margin-bottom: 20px;

}



/*ESTILIZANDO TOPO SITE */

.topoSite {
    display: flex;
    background-color: #e7e7ea;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    margin-top: 143px;
    padding-right: 40px;
}

.Bg-cadeira {
    height: 516px;
}

.Bg-cadeira img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.topoSite .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.topoSite .titulo h1 {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 8px;
}

.topoSite .titulo h1 span {
    font-weight: 300;


}

.topoSite .titulo p {
    color: #005CFF;
    font-size: 23px;
    font-weight: 750;
    letter-spacing: 7px;
    margin-bottom: 12px;
}

.topoSite .titulo h2 {
    color: #005CFF;
    font-size: 60px;
    font-weight: 700;
}

/* ESTILIZAÇÃO CARROSEL*/

.carrossel {
    margin-top: 90px;
    margin-bottom: 30px;
    height: 478px;
}

.todosProdutos {
    display: flex;
    gap: 30px;
}

.containerProduto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 10px;
    height: 430px;
    width: 238px;
}

.containerProduto img {
    width: 222px;
    margin-bottom: 20px;
}

.containerProduto h3 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-bottom: 5px;
    margin-left: 12px;
}

.containerProduto p {
    align-self: flex-start;
    margin-left: 12px;
}

.containerProduto .SemDesconto {
    margin-bottom: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 50;
    font-size: small;
    text-decoration: line-through;

}

.containerProduto .ComDesconto {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.containerProduto .Parcelado {
    margin: 2px 0 px 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;

}

.containerProduto .Parcelado span {
    font-weight: 800;
}

.containerProduto button {
    width: 222px;
    height: 40px;
    background-color: #005CFF;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.containerProduto button a {
    color: white;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}

.Lancamentos {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 16%;
}

/*ESTILIZAÇÃO CARROSEL*/

.carrossel-container {
    position: relative;
    max-width: 1300px;
    margin: 10px 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.todosProdutos {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
}

.containerProduto {
    flex: 0 0 238px;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    padding: 10;
}

.btn-prev {
    left: 0px;
}

.btn-next {
    right: 0px;
}

/* ESTILIZAÇÃO PAGINA DA XICARA 1*/

.cup1Page {
    display: flex;
    padding: 0 20%;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.xicaraImagem {
    background-color: #c2c2c2;
    width: 593px;
    height: 589PX;


}

.cup1Page .txt {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 280px;

}

.cup1Page .txt h3 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.cup1Page .txt p {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: normal;
}

/* ESTILIZAÇÃO PAGINA DA XICARA 2*/

.cup2page {
    background-color: #DEDEDE;
    height: 819px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoeicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%;
}

.textoeicon .title {
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #4F4F4F;
    text-align: center;
}

.txt2 {
    display: flex;
    align-items: center;
    margin-bottom: 47px;
    margin-right: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #4F4F4F;
}

.txt2 .iconL {
    max-width: 90px;
    max-height: 90px;
}

.txt2 p {
    margin: 20px 15px;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgxicara2 img {
    max-height: 728.14px;
    max-width: 652px;
}

.imgxicara2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagContact {
    width: 100%;
    height: 660px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagContact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    background-image: url('img/BgAavanti.png');
    background-size: cover;
    background-position: center;
    transform: scale(1.02);
    transform-origin: center;
}

.BarraAzul {
    z-index: 2;
    width: 100%;
    height: 132px;
    background-color: #005CFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BarraAzul p {
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    margin: 0 80px;
    text-align: center;
}

/*ESTILIZAÇÃO PAG CADASTRO USER*/

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.cadastro .title {
    display: flex;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 35px;
}

.cadastro .title span {
    color: #005CFF;
}

.cadastro .inputs {
    display: flex;
    background-color: #DEDEDE;
    width: 1260px;
    height: 176px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}


.cadastro .inputs .WriteUser {
    width: 280px;
    height: 48px;
    border: none;
    border-radius: 8px;
}

.WriteUser::placeholder {
    color: #303030;
    font-family: "Nunito Sans", sans-serif;
}


.checkboxGroup {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkboxGroup span {
    font-family: "Nunito Sans", sans-serif;
    color: #656565;
}

.checkboxGroup .checkB {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.checkboxGroup .checkB:checked {
    background-color: #005cff;
    border-color: #005cff;
}

.checkboxGroup .checkB:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputs button {
    width: 121px;
    height: 48px;
    color: white;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    background-color: #005CFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #1e6aedc5;
    transition: background-color 0.8s;
}

.infosFooter {
    display: flex;
    gap: 110px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    margin-top: 64px;
}

.infosFooter h5 {
    font-weight: normal;

}

.logo_Links {
    width: 194px;
    height: 93px;
}

.logo_Links .logof {
    margin-bottom: 37px;
}

.logo_Links .logof img {
    width: 152px;
    height: 27px;
}

.SocialLinks {
    display: flex;
    justify-content: space-between;
}

.containerFooterTop {
    height: 386px;
    background-color: #F5F5F5;
}

.Institu h4,
.CentralAjuda h4,
.Atendimento h4 {
    margin-bottom: 23px;
}

.Institu h5:hover,
.CentralAjuda h5:hover,
.Atendimento h5:hover {
    color: #005CFF;
    transition: color 0.2s;
    cursor: pointer;
}

.Institu h5,
.CentralAjuda h5,
.Atendimento h5 {
    margin-bottom: 13px;
    line-height: 1.6
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bandeirasParceiras {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
}

.final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 211px;

}

#Mobile {
    display: none;
}

#Desktop {

    display: block;
}


.txtFinal {
    width: 80%;
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-bottom: 45px;
    line-height: 2;
}

.imgFinal {
    display: flex;
    align-items: center;
    gap: 24px;
}


/*RESPONSIVIDADE DO HEADER*/
@media (max-width: 1300px) {
    .quebra-linha {
        display: block;
        margin-top: 8px;
    }

    .anuncioDesconto {
        min-height: 70px;
        font-size: 14px;
    }

    .topoHeader a.userIcon,
    .topoHeader a.HelloLink,
    .sectionLinks ul li,
    .sectionLinks ul li p,
    .sectionLinks ul li svg {
        display: none;
    }

    .sectionLinks ul {
        display: grid;
        padding: 0 !important;
    }

    .inputInicial {
        margin: 0 !important;
    }

    .Logoimg {
        grid-area: LOGO !important;
        display: flex;
        justify-content: center;
    }

    .inputContainer {
        grid-area: INPUT !important;
        display: flex;
        justify-content: center;
        margin: 0 10%;
    }

    .ImgCarrinhoContainer {
        grid-area: CARRINHO !important;
        display: flex;
        justify-content: center;
    }

    .hamburguerContainer {
        grid-area: HAMBURGUER !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .topoHeader {
        padding-top: 15px;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        row-gap: 20px;
        grid-template-areas:
            "HAMBURGUER LOGO CARRINHO"
            "INPUT INPUT INPUT";
        align-items: center;
    }

    .bolinhaAzul{
        top: -5px;   
        right: 45%;
    }

}

@media (max-width: 1080px){
    .bolinhaAzul{
        right: 44%;
    }

}

@media (max-width: 760px){
    .bolinhaAzul{
        right: 42%;
    }

}

@media (max-width: 590px){
    .bolinhaAzul{
        right: 40%;
    }

}

@media (max-width: 590px){
    .bolinhaAzul{
        right: 39%;}}

@media (max-width: 460px){
    .bolinhaAzul{
        right: 37%;}}

@media (max-width: 380px){
    .bolinhaAzul{
        right: 34%;}}

@media (max-width: 366px){
    .bolinhaAzul{
        right: 32%;}}

@media (max-width: 315px){
    .bolinhaAzul{
        right: 30%;}}

        

/*RESPONSIVIDADE DO TOPO DO SITE*/

@media (max-width: 1300px) {

    .topoSite {
        margin-top: 200px;
    }

    .topoSite .titulo h1 span {
        text-align: center;


    }

    .topoSite .titulo h2,
    .topoSite .titulo h1 {
        font-size: 70px;
    }

    .topoSite .titulo p {
        text-align: center;
        font-size: 22px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 1120px) {
    .Bg-cadeira {
        transform: translateX(-10%);
    }

}

@media (max-width: 1075px) {
    .Bg-cadeira {
        transform: translateX(-20%);
        margin-right: -100px;
    }

}

@media (max-width: 990px) {
    .Bg-cadeira {
        transform: translateX(-40%);
        margin-right: -200px;
    }
}


@media (max-width: 870px) {
    .Bg-cadeira {
        transform: translateX(-40%);
        margin-right: -250px;
    }
}

@media (max-width: 820px) {
    .Bg-cadeira {
        transform: translateX(-50%);
        margin-right: -400px;
    }
}

@media (max-width: 650px) {
    .Bg-cadeira {
        transform: translateX(-50%);
        margin-right: -400px;
    }

    .topoSite .titulo h2,
    .topoSite .titulo h1 {
        font-size: 40px;
    }

    .topoSite .titulo p {
        text-align: center;
        font-size: 12px;
    }
}

@media (max-width: 623px) {
    .Bg-cadeira {
        transform: translateX(-60%);
        margin-right: -440px;
    }
}

@media (max-width: 560px) {
    .Bg-cadeira {
        transform: translateX(-65%);
        margin-right: -470px;
    }
}

@media (max-width: 432px) {
    .Bg-cadeira {
        transform: translateX(-60%);
        margin-right: -270px;
        height: 100%;
    }


    .topoSite .titulo h2,
    .topoSite .titulo h1 {
        font-size: 35px;
        font-weight: 680;
    }

    .topoSite .titulo h1 span {
        font-weight: 300;
    }

    .topoSite .titulo p {
        text-align: center;
        font-size: 9px;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .titulo h1 span {
        display: block;
    }

    .topoSite {
        justify-content: space-between;
        height: 306px;
        padding: 0;
    }

}


/*RESPONSIVIDADE DO CUP PAGE 1*/
@media (max-width: 1300px) {
    .cup1Page {
        display: flex;
        flex-direction: column;
        min-height: 732px;
        margin: 70px 0 0 0 !important;
        padding: 0 !important;
    }

    .cup1Page .xicaraImagem {
        width: 100%;
        max-width: 589px;
        display: flex;
        justify-content: center;
    }

    .cup1Page .xicaraImagem img {
        width: 84%;
        height: auto;
    }
}

/*RESPONSIVIDADE DO CUP PAGE 2*/
@media (max-width: 1300px) {
    .cup2page {
        display: flex;
        flex-direction: column-reverse;
        min-height: 717px;
        width: 100%;
        margin: 40px 0;
        padding-top: 28px;
        padding-bottom: 28px;
        justify-content: center;
    }

    .cup2page .imgxicara2 img {
        max-height: 349px;
    }

    .txt2 .iconL {
        max-width: 3rem;
    }

    .txt2 {
        margin-bottom: 14px;
        margin-right: 0;
        min-width: 320px;
        max-width: 500px
    }

    .txt2 p {
        font-size: 12px;
        margin: 0 0 0px 14px;
        min-width: 240px;

    }

    .textoeicon .title {
        font-size: 20px;
        margin: 24px 0px 32px 0px;

    }

    .textoeicon {
        height: auto;
        margin-right: 20px;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
    }
}

/*RESPONSIVIDADE PagContact*/

@media (max-width: 1300px) {
    .pagContact {
        max-height: 390px !important;
    }

    .pagContact .BarraAzul {
        max-height: 75px;

    }

    .BarraAzul p {
        font-size: 13px;
    }
}

/*RESPONSIVIDADE input cadastro*/
@media (max-width: 1300px) {
    .inputs {
        min-height: 284px;
        margin-right: 18px;
        margin-left: 18px;
        width: 358px !important;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 41px 0px;
    }

    .inputs .WriteUser {
        min-height: 48px;
        min-width: 326px;
    }

    .inputs .checkboxGroup {
        font-size: 12px;
        margin: 0 40px;
    }

    .inputs button {
        width: 326px;
        height: 48px !important;
        min-height: 48px;
    }
}


/*RESPONSIVIDADE FOOTER*/
@media (max-width: 1300px) {
    .containerFooterTop .flex .infosFooter {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .infosFooter .logo_Links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-top: 42px;
        height: 100%
    }

    .SocialLinks {
        gap: 40px;
    }

    .Institu h5,
    .CentralAjuda h5,
    .Atendimento h5 {
        display: none;
    }

    .bandeirasParceiras {
        display: flex;
        flex-wrap: wrap;
        margin: 42px 30px 0 30px !important;
        padding-bottom: 42px;
    }

    .Institu h4,
    .CentralAjuda h4,
    .Atendimento h4 {
        display: flex;
        align-items: center;
        margin: 0;
        height: 55px;
        width: 100%;
        border: solid 1px #DDDDDD;
    }

    .containerFooterTop {
        width: 100%;
        height: 100%;
    }

    .containerFooterTop .flex {
        display: block;

    }

    .final {
        height: 100%;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #Mobile {
        display: block;
    }

    #Desktop {
        display: none;
    }
}